*{
    margin: 0px;
    padding: 0px;
}

.background{
    position: relative;
    background-color: #161A1D;
    height: 900px;
    width: 2000px;
}

.bg{
    position: relative;
    background-color: #212529;
    height: 900px;
    width: 2000px;
    top: -10;
}

form{
    position: absolute;
    left: 700px;
    top: 450px;
}

input{
    border-radius: 30px;
    width: 600px;
    height: 30px;
}

a{
    color: white;
}

.user {
    color: #000;
  }

.button{
    position: absolute;
    left: 700px;
    width: 100px;
    height: 100px;
    filter: blur(10px);
}

.button:hover{
    color: pink;
}

button:active::after{
    animation: fadein 2s;
    background-color: blue;
}

@keyframes fadein {
    from {
        filter: blur(10px);
    }
    to {
        filter: blur(0px);
    }
}