{{define "Test"}} <!-- Pour la lecture utilisateur -->
<div class="checkbox">
        <form method="POST">
<fieldset>
        <legend>Filtres :</legend>
        <div class="membres">
                <label>Membres du groupe : </br></label>
                        <input type="range" name="member" value="0" min="0" max="10"oninput="this.nextElementSibling.value = this.value">
                        <output></output>
                        
                <output></output>
              </div>
        <div class="date">
                <label>Date Creation pars decennies : </br></label>
                <input type="range" name="date" value="1900" min="1900" step="10" max="2020"oninput="this.nextElementSibling.value = this.value">
                <output></output>
              </div>
        <div class="album">
                <label>Date premier album pars decennies : </br></label>
                <input type="range" name="album" value="1900" min="1900" step="10" max="2020"oninput="this.nextElementSibling.value = this.value">
                <output></output>
              </div>
        <div class="location">
                <legend>Concert :</legend>
                <div>
                        <input type="checkbox" name="europe">
                        <label for="scales">Europe</label>
                      </div>
                  
                      <div>
                        <input type="checkbox" id="amerique" name="amerique">
                        <label for="horns">Amerique </label>
                      </div>
                      <div>
                        <input type="checkbox" id="asie" name="asie">
                        <label for="scales">Asie</label>
                      </div>
                  
                      <div>
                        <input type="checkbox" id="afrique" name="afrique">
                        <label for="horns">Afrique</label>
                      </div>
                      <div>
                        <input type="checkbox" id="oceanie" name="oceanie">
                        <label for="scales">Oceanie</label>
                      </div>
                <input type="submit" value="Rechercher">
                </form>
    </fieldset>
</div>    
<div class ="Grille">

        <ol class="uwu">
                {{range .}}
                <div class="Capsule">

                        <div class="CapsuleName">
                                <li>{{.Name}}</li>
                        </div>

                        <div class="CapsuleImage">
                                <form method="POST" class="image">
                                        <input type="hidden" value={{.Id}} name="artisteImage" class="image">
                                        <input type="image" src={{.Image}} name="artisteTest">
                                </form>
                        </div>

                </div>
                 {{end}}
        </ol>

</div>
{{end}}